numpy
pandas
streamlit
plotly
matplotlib
scikit-learn
xgboost
torch
optuna
alpha_vantage
kiteconnect
yfinance
vaderSentiment
scipy
statsmodels
lightgbm
backtrader
transformers
pytrends
praw